<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.phoenixforge.student.sync.READ"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="com.phoenixforge.profile.READ" />

    <queries>
        <provider android:authorities="com.phoenixforge.profile.provider" />
        <provider android:authorities="com.phoenixforge.student.sync.provider" />
    </queries>

    <application
        android:name=".StudentApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentHouse">

        <provider
            android:name=".sync.StudentSyncContentProvider"
            android:authorities="com.phoenixforge.student.sync.provider"
            android:exported="true"
            android:readPermission="com.phoenixforge.student.sync.READ" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.StudentHouse">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".chariot.ChariotDisplayActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.StudentHouse">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="phoenixforge" android:host="chariot" />
            </intent-filter>
        </activity>
    </application>

</manifest>
